.Header {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.4em 1em;
    border-bottom:  1px solid rgba(141, 140, 140, 0.3);
}

.Header h1 {
    font-family: "Outfit", sans-serif;
    font-size: 2em;
}


@media (min-width: 700px) {
    .Header {
        justify-content: flex-start;
        align-items: center;
    }
    .Header h1 {
        flex:1;
        margin-bottom: 0.1em;
    }

    .Header .hamburger-menu {
        margin-right: 2em;
    }
}